In [14]:
import json
import requests
import regex as re
import pandas as pd

In [68]:
%run func_dataset_retrieval.py

## Queries

Queries can be modified, but important to record in each dataset retrieved from the following source the queries that allowed to retrieve it. Queries are encoded as an integer while iterating through it (1st query is 0, 2nd is 1, etc...) so it is important to export the table with the query content and their corresponding id.

In [16]:
path_query='C:/Users/vals3103/Downloads/df_query.xlsx'
df_queries = pd.read_excel(path_query, engine = "openpyxl", converters={'id_query':int})
df_queries

                                  query  id_query
0         Québec AND survey AND species         0
1  Québec AND "time series" AND species         1
2      Québec AND inventory AND species         2
3                    Québec AND species         3
4     Québec AND abundance AND  species         4
5     Québec AND occurrence AND species         5
6     Québec AND population AND species         6
7          Québec AND sites AND species         7
8       Québec AND sampling AND species         8
9     Québec AND collection AND species         9

Here, importantly, subset the queries to not take into account the ones that have already been done. For instance, to ignore the 7 first query (id >=):

In [17]:
queries = df_queries.query("id_query >= 9").to_dict()['query']

In [73]:
queries = {10: 'Québec AND density AND species'}

In [18]:
for i, query in queries.items():
    print(i)
    print(query)

9
Québec AND collection AND species

## Semantic Scholar

With Semantic Scholar, we have to set three variables : offset, limit, and year range

In [74]:
offset = 0
limit = 50
year_min = 1980
year_max = 2022

In [75]:
df_semantic = retrieve_semantic(queries, offset = offset, limit = limit, year_min = year_min, year_max = year_max)

http://api.semanticscholar.org/graph/v1/paper/search?query=Québec+density+species&offset=0&limit=50&year=1980-2022
http://api.semanticscholar.org/graph/v1/paper/search?query=Québec+densities+species&offset=0&limit=50&year=1980-2022

In [76]:
df_semantic.to_csv("C://Users//vals3103//Post-doc//Text_mining//semantic_scholar.csv", sep=";", header=True, index=False)